<h2>p1 works!</h2>
<h3>nome: {{nome}}</h3>
<p [attr.title]="nome">Um title aqui?</p>

<div [ngClass]="{'vermelho': true}">usando NgClass (vermelho) </div>
<div [ngClass]="{'verde': true}">usando NgClass</div>

<br>
<br>

<p>É maior de Idade?
  <strong>
    @if(idade > 18) {
    Sim
    } @else {
    Não
    }
  </strong>
</p>

<h2>NgFOR</h2>
@if(frutas$ | async; as data) {
  	<ul>
      @for(item of data; track item) {
        <li>{{item}}</li>
      } @empty {
        <li>Não tem itens</li>
      }
    </ul>
} @else {
  <p>....carregando....</p>
}


<h2>Switch</h2>
@switch(switchCondition) {
  @case ('1') {
    <p>numero 1</p>
  }
  @case ('4') {
    <p>numero 4</p>
  }
  @case ('10') {
    <p>numero 10</p>
  }

  @default {
    <p>switch nao encontrado</p>
  }
}

<!-- <h2>Quadrado</h2>
<app-quadrado /> -->
