:root {
  --primary: #2fbf71;
  --primary10: #21804d;

  --accent: #06628a;
  --accent10: #06374e;

  --white: #fff;

  --black: #10101a;
  --black10: 2a2a30;

  --grey: #9b9b9b;
  --grey10: #e3e3e3;
}
